.topic-photos-wrapper {
  max-width: 100% !important;
  width: 100% !important;
  display: block !important;
  cursor: zoom-in;
  position: relative;
}
.topic-photos-wrapper:hover .like-btn-wrapper {
  display: block;
}
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  transition: 0.5s ease;
}
.like-btn-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
}
.like-btn-wrapper button {
  border: none;
  padding: 3px;
  border-radius: 5px;
  opacity: 1;
  margin: 16px 16px 0 0;
}
.like-btn-wrapper :nth-child(3) button {
  margin: 0 10px 0 0;
}
.user-detail {
  position: absolute;
  bottom: 28px;
  left: 16px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 360px;
}
.photo-detail {
  color: #767676;
  display: flex;
  margin: 12px 0 16px 20px;
}
.modal-dialog {
  max-width: 1500px !important;
  width: 100%;
  margin: 0 auto !important;
}
.modal-body {
  margin: 20px auto !important;
}
