.page-numbers {
  display: flex;
  justify-content: space-between;
  list-style: none;
  max-width: 400px;
  width: 100%;
  margin: 30px auto;
  cursor: pointer;
  color: rgb(70, 67, 67);
}
.page-numbers li.active {
  padding: 0 7px;
  color: black;
  font-weight: 700;
  background-color: #eee;
  border: 1px solid #d1cfcf;
}

button {
  border: none;
}
ul.page-numbers {
  padding: 0;
}
