.editorial {
  width: 5% !important;
}
.navlink-menu {
  text-decoration: none;
  font-size: 14px;
  color: #767676;
  font-weight: 500;
  background: #fff;
  position: sticky;
  cursor: pointer;
  padding: 21px 0px;
}
.slick-list {
  padding: 0 30px;
}
.navlink-menu:focus {
  color: #111;
  border-bottom: 2px solid;
}
.navlink-menu:hover {
  color: #111;
}
.navlink-menu-wrapper {
  margin: 0 auto;
  box-shadow: 0 4px 12px #00000014, 0 0 1px #0100001a;
  padding: 0 20px;
  min-height: 64px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  position: sticky;
  background: #fff;
  top: 80px;
  z-index: 1;
}
.all-menu-container {
  width: 95% !important;
  margin: 0 auto;
  text-align: center;
}
.slick-prev {
  left: 0% !important;
  z-index: 1;
}
.slick-arrow::before {
  color: black !important;
}
.slick-next {
  right: 0% !important;
  z-index: 1;
}
.slick-next:before {
  content: ">";
  color: #767676;
  font-weight: 700;
}
.slick-prev:before {
  content: "<";
  color: #767676;
}
.slick-track {
  align-items: center !important;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .editorial {
    width: 10% !important;
  }
  .all-menu-container {
    width: 75% !important;
  }
  .navlink-menu-wrapper {
    padding: 0 10px;
  }
}
